.navigation {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
}
.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}